.btn-amarillo{
    background-color: #f5ca99 !important;
    border-color: #f5ca99 !important;
}

.btn-youtube{ background-color: red !important; border-color: red !important; color: white !important; }
.btn-youtube:hover{ background-color: white !important; border-color: white !important; color: red !important; }

.btn-facebook{ background-color: #1235d9 !important; border-color: #1235d9 !important; color: white !important; }
.btn-facebook:hover{ background-color: white !important; border-color: white !important; color: #1235d9 !important; }

.btn-twiter{ background-color: cyan !important; border-color: cyan !important; color: white !important; }
.btn-twiter:hover{ background-color: white !important; border-color: white !important; color: cyan !important; }

.btn-whatsapp{ background-color: green !important; border-color: green !important; color: white !important; }
.btn-whatsapp:hover{ background-color: white !important; border-color: white !important; color: green !important; }

/*  ══════════════════════════════════════════ - B A C K G R O U N D   P E R S O N A L I Z A D O - ══════════════════════════════════════════ */
/* celeste */
.bg-color-408c98{ background-color: #408c98; }
.bg-color-48acc6{ background-color: #48acc6; }
/* azul */
.bg-color-127ab6ba{ background-color: #127ab6ba; }
/* rojo */
.bg-color-eb0202{ background-color: #eb0202; }

/* verde */ 
.bg-color-8eff27{ background-color: #8eff27; }
.bg-color-28a745{ background-color: #28a745; }
.bg-color-45c920{background-color: #45c920;}
.bg-color-28a74533{ background-color: #28a74533; }

/* marron */
.bg-color-ff6c046b{ background-color: #ff6c046b; }
/* amarillo */
.bg-color-f3e700{ background-color: #f3e700;}
.bg-bd9700{ background-color: #bd9700 !important; }
/* plomo */
.bg-color-acc3c7{ background-color: #acc3c7; }
.bg-color-b4bdbe47{ background-color: #71919547; }
.bg-color-2c2c2c{ background-color: #2c2c2c !important; }
.bg-color-acc3c775{ background-color: #acc3c775; }
.bg-color-252e38{ background-color: #252e38; }
.bg-color-262e36{ background-color: #262e36 !important; }
.bg-color-191f24{ background-color: #191f24 !important; }
.bg-color-6c757d{ background-color: #6c757d !important; }

/* blanco */
.bg-color-242244245{background-color: rgb(242 244 245);}

/* negro */
.bg-color-fff0{background-color: #fff0 !important;}
.bg-color-0202022e{background-color: #0202022e !important;} /* 18% */
.bg-color-02020263{background-color: #02020263 !important;} /* 39% */
.bg-color-02020280{background-color: #02020280 !important;} /* 50% */
.bg-color-000000{background-color: #000000 !important;} /* 100% */


/*  ══════════════════════════════════════════ - T E X T   H O V E R  C O L O R    P E R S O N A L I Z A D O - ══════════════════════════════════════════ */

.text-hover-red:hover{ color: red !important; }

.text-hover-black:hover{ color: black !important; }
.text-hover-yellow:hover{ color: yellow !important; }
.text-hover-purple:hover{ color: purple !important; }

.text-hover-silver:hover{ color: silver !important; }

.text-hover-GreenYellow:hover{ color: GreenYellow !important; }
.text-hover-Chartreuse:hover{ color: Chartreuse !important; }
.text-hover-LawnGreen:hover{ color: LawnGreen !important; }
.text-hover-Chartreuse:hover{ color: Chartreuse !important; }
.text-hover-Lime:hover{ color: Lime !important; }
.text-hover-LimeGreen:hover{ color: LimeGreen !important; }
.text-hover-PaleGreen:hover{ color: PaleGreen !important; }
.text-hover-LightGreen:hover{ color: LightGreen !important; }
.text-hover-MediumSpringGreen:hover{ color: MediumSpringGreen !important; }
.text-hover-SpringGreen:hover{ color: SpringGreen !important; }
.text-hover-MediumSeaGreen:hover{ color: MediumSeaGreen !important; }
.text-hover-SeaGreen:hover{ color: SeaGreen !important; }
.text-hover-ForestGreen:hover{ color: ForestGreen !important; }
.text-hover-Green:hover{ color: Green !important; }
.text-hover-DarkGreen:hover{ color: DarkGreen !important; }
.text-hover-YellowGreen:hover{ color: YellowGreen !important; }
.text-hover-OliveDrab:hover{ color: OliveDrab !important; }
.text-hover-Olive:hover{ color: Olive !important; }
.text-hover-DarkOliveGreen:hover{ color: DarkOliveGreen !important; }
.text-hover-MediumAquamarine:hover{ color: MediumAquamarine !important; }
.text-hover-DarkSeaGreen:hover{ color: DarkSeaGreen !important; }
.text-hover-LightSeaGreen:hover{ color: LightSeaGreen !important; }
.text-hover-DarkCyan:hover{ color: DarkCyan !important; }
.text-hover-Teal:hover{ color: Teal !important; }

.text-hover-cyan:hover{ color: cyan !important; }
.text-hover-LightCyan:hover{ color: LightCyan !important; }
.text-hover-PaleTurquoise:hover{ color: PaleTurquoise !important; }
.text-hover-Aquamarine:hover{ color: Aquamarine !important; }
.text-hover-Turquoise:hover{ color: Turquoise !important; }
.text-hover-MediumTurquoise:hover{ color: MediumTurquoise !important; }
.text-hover-DarkTurquoise:hover{ color: DarkTurquoise !important; }
.text-hover-CadetBlue:hover{ color: CadetBlue !important; }
.text-hover-SteelBlue:hover{ color: SteelBlue !important; }
.text-hover-LightSteelBlue:hover{ color: LightSteelBlue !important; }
.text-hover-PowderBlue:hover{ color: PowderBlue !important; }
.text-hover-LightBlue:hover{ color: LightBlue !important; }
.text-hover-SkyBlue:hover{ color: SkyBlue !important; }
.text-hover-LightSkyBlue:hover{ color: LightSkyBlue !important; }
.text-hover-DeepSkyBlue:hover{ color: DeepSkyBlue !important; }
.text-hover-CornflowerBlue:hover{ color: CornflowerBlue !important; }
.text-hover-MediumSlateBlue:hover{ color: MediumSlateBlue !important; }
.text-hover-RoyalBlue:hover{ color: RoyalBlue !important; }
.text-hover-Blue:hover{ color: Blue !important; }
.text-hover-MediumBlue:hover{ color: MediumBlue !important; }
.text-hover-DarkBlue:hover{ color: DarkBlue !important; }
.text-hover-Navy:hover{ color: Navy !important; }
.text-hover-MidnightBlue:hover{ color: MidnightBlue !important; }

/*  ══════════════════════════════════════════ - B A C K R O U N D   H O V E R  C O L O R   P E R S O N A L I Z A D O - ══════════════════════════════════════════ */
.bg-color-hover-black:hover{ background-color: black !important; }
.bg-color-hover-white:hover{ background-color: white !important; }

/*  ══════════════════════════════════════════ - B A C K R O U N D   H O V E R    P E R S O N A L I Z A D O - ══════════════════════════════════════════ */
.bg-hover-black:hover{ background: black !important; }
.bg-hover-white:hover{ background: white !important; }